@charset "utf-8";
/*项目用到的颜色*/

/*主色辅色*/
$maincolor:#5abd6b;
$maincolor-deepen:#4ea15c;
$secondcolor:#4d9ceb;
$secondcolor-deepen:#478fd6;

/*警示色*/
$warn:#f2b15f;

/*按钮不可点击颜色*/
$dispaly:#c9c7c8;

/*输入框的placeholder颜色*/
$placeholder:#acacac;

/*背景边框*/
$bgcolor:#f2f2f2;
$bordercolor:#c9c9c9;

/*文本颜色*/
$fontcolorLv4:#cdcdcd;
$fontcolorLv3:#979797;
$fontcolorLv2:#828282;
$fontcolorLv1:#5c5c5c;
$fontcolorLv0:#333333;
$fontcolorLightBlue:#a8d3fe;